body,
html {
  background-color: #fefefe;
  height: 100%;
  overflow-x: hidden;
  font-family: "Abel", sans-serif;
}

a,
a:hover {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  /* font-size: */
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

input[type="text"] {
  border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  width: 90%;
  max-width: 90%;
  border-style: none;
}

button {
  outline: none !important;
}

.container-fluid {
  padding: 0;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

#loader-wrapper {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #333; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header  */
#header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  padding: 0 10px;
  box-shadow: 0 4px 6px -6px #222;
}

#header-title {
  font-size: 2rem;
  /* color: #333; */
}

#header button {
  display: inline-block;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: inherit;
}

/* Landing Page */
#landing-page {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(/img/prague-980732_1920.jpg);
  background-size: cover;
  background-position: center;
}

#landing-page-inner {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

#landing-page-title {
  position: absolute;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fefefe;
  border-radius: 10px;
}

#landing-page h1 {
  font-size: 2em;
}

#landing-page p {
  /* font-size: 2vw; */
}

#authors-menu {
  overflow-y: scroll;
  height: 100vh;
  padding: 0 5px;
  margin: 10px;
}

#list-authors li {
  margin: 10px;
}

/* Single Author  */

.list-container {
  max-width: 90vw;
  margin: 0 auto;
}

.list-numbers {
  font-size: 0.8em;
}

/* Drawer  */
li p {
  color: #000;
}

/* 
----------------------
----------------------
---------------------- */

/* Responsive Breakpoints  */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
